.content-container{
    background: #FFF;
    margin-bottom: 20px;
    padding:15px 20px;
    border: #A5A5A5 1px solid;
    border-radius: 10px;
    min-height: 150px;
    max-height: 250px;
    overflow: auto;
    position: relative;
    box-shadow: #B6B6B6 5px 5px 5px;
}
.content-info{
    font-size: smaller;
    position: absolute;
    right: 20px;
    bottom: 15px;
    margin-top: 10px;
}
a.content{
    white-space: pre-line;
    text-decoration: none;
    color: #333;
}
/*a.content:hover{*/
    /*text-decoration: none;*/
    /*color: black;*/
/*}*/