{% extends 'base.html' %}
{% block title %}留言详情{% endblock %}
{% block head %}
<link rel="stylesheet" href="{{url_for('static', filename='css/detail.css')}}">
{% endblock %}
{% block main %}
<h1 class="text-center">当前留言</h1>
<div class="container">
    <div class="row">
        <div class="col-md-8 col-md-offset-2 main">
            <table class="table">
                <tbody>
                <tr>
                    <td>留言作者</td>
                    {% if article.author_id %}
                    <td><a href="{{url_for('other_user', id=article.author_id)}}">{{article.author.name}}</a></td>
                    {% else %}
                    <td>匿名</td>
                    {% endif %}
                </tr>
                <tr>
                    <td>留言时间</td>
                    <td>{{article.create_time}}</td>
                </tr>
                <tr class="success">
                    <td>内容</td>
                    <td id="content">{{article.content}}</td>
                </tr>
                </tbody>
            </table>
            <div class="text-right">
                <a href="{{url_for('index')}}" class="btn btn-primary">返回</a>
            </div>
        </div>
    </div>
</div>
{% endblock %}