{% extends 'base.html' %}
{% block title %}首页{% endblock %}
{% block head %}
<link rel="stylesheet" href="{{url_for('static', filename='css/index.css')}}">
{% endblock %}
{% block main %}
<div class="container">
    <div class="row">
        <div class="col-md-8 col-md-offset-2">
            {% for msg in get_flashed_messages() %}
            <div class="alert alert-warning text-center dismissable">
                <button class="close" type="button" aria-hidden="true" data-dismiss="alert">
                    &times;
                </button>
                {{msg}}
            </div>
            {% endfor %}
        </div>
    </div>
    <div class="row">
        <div class="col-md-8 col-md-offset-2 main-container">
            <ul class="list-unstyled">
                {% for article in articles %}
                <li class="content-container">
                    <div><a href="{{url_for('detail', id=article.id)}}" class="content">{{article.content}}</a></div>
                    <div class="content-info pull-bottom">
                        <span class="author">此留言由
                        {% if article.author_id %}
                            <a href="{{url_for('other_user', id=article.author_id)}}">{{article.author.name}}</a>
                        {% else %}
                            一位匿名的小朋友
                        {% endif %}
                        发表于 {{article.create_time}}
                        </span>
                    </div>
                </li>
                {% endfor %}
            </ul>
        </div>
    </div>
</div>
{% endblock %}